@import '../../globalVariables.scss';

 .profile_wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   padding: 50px;
   left: 50%;
   transform: translateX(-50%);

    .welcome,
    .welcome_content {
        text-align: center;
        letter-spacing: 1px;
        color: $main-light;
        font-size: 3rem;

        @media (max-width: 860px) {
            font-size: 2rem;
         }  

         @media (max-width: 520px) {
            font-size: 1.5rem;
         }  
         
         @media (max-width: 390px) {
            font-size: 1.2rem;
         } 

         .span {
            color: $color-parsley;
            font-weight: 700;
         }
    }

    .welcome_content {
      text-align: left;
      font-size: 1.1rem;
      @media (max-width: 390px) {
         font-size: .9rem;
      } 
    }
   
    .hidden {
      display: none;
    }
 }

 