@import '../../../../../globalVariables.scss';

.address_wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
}

.country {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba($color: $main-grey, $alpha: .4);
    border-radius: 10px;
    font-size: 1rem;
    padding: 0 15px 0 25px;
    transition: .3s;

    .content {
        margin: 7px 0;
        color: $main-grey;
    }

    .arrow {
        width: 20px;
        height: 15px;
        transition: .3s;
    }
}

.country.active {
    background-color: $main-grey;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .content{
        color: $main-light;
    }

    .arrow {
        transform: rotate(180deg);
    }
}

.country_fields {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $main-grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;

    .country_name {
        cursor: pointer;
        color: $main-light;
        padding-bottom: 5px;
        margin: 0;
        transition: .1s;

        &:hover {
            color: $white;
        }
    }
}

.country_fields.hidden {
    height: 0;
    overflow: hidden;
    background-color: $main-light;
}

.input {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba($color: $main-grey, $alpha: .4);
    color: $main-dark-color;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1rem;
    padding: 5px 0 5px 25px;
    border: none;
    transition: .5s;

    &:focus {
        box-shadow: 0 0 20px $main-grey;
    }
}