// .App-logo {
//     // height: 40vmin;
//     margin: 25px 10px 0;
//     pointer-events: none;
//     height: 30px;
//   }
//   @media (prefers-reduced-motion: no-preference) {
//     .App-logo {
//       animation: App-logo-spin infinite 20s linear;
//     }
//   }

header {
   margin-top: 20px;
}


.header-container{
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
}

.logo-wrapper {
  width: 300px;
}

  .logo-title{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    color: var(--main-light);
  }

  h1 {
    letter-spacing: 1.8px;
    // font-family: Inter;
    // font-size: 32px;
    margin-bottom: 0;
  }
  
  span{
    letter-spacing: 1.5px;

    font-size: 10px;
    // margin-top: -50px;
    color: var(--main-light);
  }

  .parsley{
    color: var(--color-parsley)
  }

// .nav {
//     right: 20px
//     // flex-direction: ;
// }

  .navigation-list {
    margin: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    color: var(--main-light);
    // line-height: 24px;
    max-width: 400px;
    gap: 30px;
    // height: 37px;
    justify-content: space-between;
    // margin-top: 20px;
    // transition: .5s;
  }

  .nav-item {
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(255, 255, 128, 0);
    align-self: center;
    transition: .5s;
    cursor: pointer;
    list-style: none;
    &:active {
    
        border-bottom: 3px solid var(--color-parsley);
    }

  }

  .no-active-link {
    // color: var(--main-color);
    border-bottom: 3px solid var(--color-parsley);
    pointer-events: none;
  }