
@import './../../../../globalVariables.scss';

.section_offer {
    padding: 190px auto 100px;
    margin: 0 ;
    background-image: url('../../../../assets/png/smoke.png');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    @media (max-width: 1199px) {
      margin: 0 auto;
      padding: 0;
      width: 711px;
      background-repeat: repeat-y;
  }
      @media (max-width: 795px) {
        width: 303px
      }
      @media (max-width: 670px) {
        margin: 70px auto 0;
        width: 303px
      }
      @media (max-width: 515px) {
        margin: 0 auto;
      }
      @media (max-width: 465px) {
        margin: 0 auto;
        width: 270px
      }
}

.title_section {
    font-size: 2.7rem;
    letter-spacing: 1.8px;
    color: $main-light;
    @media (max-width: 1199px) {
      padding-top: 100px;
      max-width: 700px;
      font-size: 2rem;
      letter-spacing: 2px;
  }
      @media (max-width: 860px) {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        font-size: 1.5rem;
        letter-spacing: 1px;
        top: 400px;
        font-size: 1.5rem;
        letter-spacing: 1px;
        transition: 1s;
      }
    @media (max-width: 670px) {
        top: 370px;
        padding-top: 0;
     
    }

    @media (max-width: 645px) {
      max-width: 500px;
      font-size: 1.2rem;
  }
    @media (max-width: 515px) {
        top: 330px;
        font-size: 1rem;
        letter-spacing: .7px;
    }

    @media (max-width: 465px) {
      font-size: 1rem;
      letter-spacing: .7px;
  }
    @media (max-width: 380px) {
      width: 300px;

  }
}

.title_center {
    margin: 0 auto;
    text-align: center;
}

.pizza_collection {
    position: relative;
    left: 0%;
    margin: 90px -326px 0;
    gap: 105px;
    display: flex;
    flex-direction: row;
    transition: 1s;

    @media (max-width: 1199px) {
      left: -57.5%;
      margin: 90px auto 0;
    }
    //     @media (max-width: 860px) {
    //   }
    //   @media (max-width: 795px) {
    //     left: -135%;
    // }
    // @media (max-width: 645px) {
    //   margin: 90px auto 0;
    // }
    
    // @media (max-width: 465px) {
    //   margin: 80px auto 0;
    //   left: -139%;
    // }
}


.link {
  text-decoration: none;
}