@import '../../../../globalVariables.scss';

.section_offer {
    padding: 160px 0 100px;
    margin: 0 ;
    background-image: url('../../../../assets/png/smoke.png');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;

}

.title_section {
    font-size: 38px;
    letter-spacing: 1.8px;
    color: $main-light;
}

.title_center {
    margin: 0 auto;
    text-align: center;
}

.pizza_collection {
    position: relative;
    left: 0%;
    margin: 90px -326px 0;
    gap: 105px;
    display: flex;
    flex-direction: row;
    transition: 1s;
}

@keyframes right {
    from {
      transform: translate(0%);
    }
    to {
      transform: translateX(21%);
    }
  }
  .transition_right {
    animation-name: right;
    animation-duration: 1s;
  }
  
  @keyframes left {
    from {
      transform: translate(0%);
    }
    to {
      transform: translate(-21%);
    }
  }
  .transition_left {
    animation-name: left;
    animation-duration: 1s;
  }

.btn_see_all {
    cursor: pointer;
    text-align: center;
    display: block;
    height: 60px;
    width: 200px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 35px;
    margin: 70px auto;
    transition: .5s;
    border: none;
    transition: 1s;
    &:hover {
        // background-color: $main-light;
        //  color: $main-dark-color;
          background:$white url('../../../../assets/png/smoke.png');
          background-size: 100%;
          background-repeat:no-repeat;
          background-position: left;
    }
}


.img-pizza{
    &:hover{
        top: 5px;
        left: 5px;
    }
}

.arrows{
    position: relative;
    max-width: 1280px;
    height: 40px;
    bottom: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow_left,
.arrow_right {
    height: 110px;
    width: 50px;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    transition: .5s;
}

.arrow_left{
    background: no-repeat url('../../../../assets/svg/arrow-left.svg');
}
.arrow_right{
    background: no-repeat url('../../../../assets/svg/arrow-right.svg');
}