@import '../../../../../globalVariables.scss';

.input {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba($color: $main-grey, $alpha: .4);
    color: $main-dark-color;
    border-radius: 10px;
    margin: 0;
    font-size: 1rem;
    padding: 5px 0 5px 25px;
    border: none;
    transition: .5s;

    &:focus {
        box-shadow: 0 0 20px $main-grey;
    }
}

.input.invalid {
    box-shadow: 0 0 5px red;

    &:focus {
        box-shadow: 0 0 10px red;
    } 
}

.error_message {
    box-sizing: border-box;
    width: 100%;
    min-height: 15px;
    text-align: end;
    padding-bottom: 3px;
    padding-right: 5px;
    margin: 0;
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: .1px;
    color: $color-red;
}

.default {
    pointer-events: none;
    background-color: rgba($color: $main-grey, $alpha: .7);

}