@import '../../../../../globalVariables.scss';

.location_wrapper {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    background-color: rgba($color: #5C5C5C, $alpha: .4);
    border-radius: 15px;
    margin-bottom: 15px;
    transition: height 1s;
}

.location_wrapper.hidden {
    height: 40px;
}

.location_select {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: $input-grey;
    color: $main-light;
    border-radius: 15px;
    margin-bottom: 17px;
    font-size: 1.2rem;
    padding: 0 15px 0 45px;
    background-image: url('../../../../../assets/png/locationLog.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 4% center;
    transition: box-shadow .3s;

    .content {
        user-select: none;
        color: $input-placeholder;
        margin: 7px 0px;
    }

    .arrow {
        width: 20px;
        height: 15px;
    }
}

.location_select.active {
    background-color: $main-light;

    .content{
        color: $main-dark-color;
    }

    .arrow {
        transform: rotate(180deg);
    }
}

