@import '../../../../../globalVariables.scss';

.location_wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 460px;
    background-color: $main-light;
    margin-bottom: 17px;
    transition: 1s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .address_name {
        margin: 0;
    }
}

.location_wrapper.hidden {
    height: 0px;
    overflow: hidden;
    background-color: $input-grey;
}

.location_select {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: $input-grey;
    color: $main-light;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0 15px 0 45px;
    background-image: url('../../../../../assets/png/locationLog.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 4% center;
    transition: box-shadow .3s;
    transition: 1s;

    .content {
        user-select: none;
        color: $input-placeholder;
        margin: 7px 0px;
    }

    .arrow {
        width: 20px;
        height: 15px;
        transition: 1s;
    }
}

.location_select.active {
    background-color: $main-light;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .content{
        color: $main-dark-color;
    }

    .arrow {
        transform: rotate(180deg);
    }
}

