
@use '../variables' as *;

header {
   max-width: 1280px;
   margin: 20px auto 0;
}

.header-container {
  max-width: 100%;
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}

.logo-wrapper {
  width: 400px;
}

  .logo-title{
    margin: 0;
    color: $main-light;
    font-size: 1.4rem;
    padding-top: 1.4rem;
  }


  .app-logo {
    position: absolute;
    margin-left: 60px ;
    margin-top: -5px;
    pointer-events: none;
    height: 35px;
    z-index: -1;
  }

  .app-logo2{
    margin: 15px 0 0 -40px;
    height: 15px;
    z-index: 1;
  }

  span{
    letter-spacing: 1.07px;
    font-size: .7rem;
    color: $main-light;
  }

  .parsley-title{
    color: $color-parsley;
    font-size: 28px;
  }

  .red-title{
    color: $color-red;
    font-size: 28px;
  }

  .parsley{
    color: $color-parsley;
  }

  .navigation-list {
    left: 10px;
    margin: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    color: $main-light;
    max-width: 400px;
    gap: 30px;
    justify-content: space-between;

  }

  .nav-item {
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(255, 255, 128, 0);
    align-self: center;
    transition: .5s;
    cursor: pointer;
    list-style: none;
    &:active {
    
      color: $color-parsley;
    }

  }

  .no-active-link {
    // color: var(--main-color);
    border-bottom: 3px solid $color-parsley;
    pointer-events: none;
  }


//   .section-welcome {
//     height: 500px;
//     padding-left: 40px;
//     background:  no-repeat url('../../../assets/png/slice.png');
//     background-size: 40%;
//     background-position: right -30px;
// }

// .title-welcome{
//         margin-top: 130px;
//     letter-spacing: 3.2px;
//     font-size: 48px;
//     // margin-top: 130px;
// }
// .title-left {
//   text-align: left;
// }

// .welcome-contemt{

//   margin-top: 20px;
//   font-size: 22px;
//   letter-spacing: 1.8px;
// line-height: 1.5;
//   // left: 0;
//   text-align: left;
//   color: $main-light;
//   float: left;
//   max-width: 720px;
//   font-weight: 600;
// }