// .App-logo {
//     // height: 40vmin;
//     margin: 25px 10px 0;
//     pointer-events: none;
//     height: 30px;
//   }
//   @media (prefers-reduced-motion: no-preference) {
//     .App-logo {
//       animation: App-logo-spin infinite 20s linear;
//     }
//   }

@use 'variables' as *;

header {
  max-width: 1280px;
  //  position: relative;
   margin: 20px auto 0;
   background:  no-repeat url('../../../assets/png/slice.png');
   background-size: 38%;
   background-position: right 3% top 80px;
}


.header-container {
  max-width: 100%;
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}



.logo-wrapper {
  width: 300px;
}

  .logo-title{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    color: $main-light;
  }

  h1 {
    letter-spacing: 1.8px;
    // font-family: Inter;
    // font-size: 32px;
    margin-bottom: 0;
  }
  
  span{
    letter-spacing: 1.5px;

    font-size: 10px;
    // margin-top: -50px;
    color: $main-light;
  }

  .parsley{
    color: $color-parsley;
  }

  .navigation-list {
    left: 10px;
    margin: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    color: $main-light;
    // line-height: 24px;
    max-width: 400px;
    gap: 30px;
    // height: 37px;
    justify-content: space-between;
    // margin-top: 20px;
    // transition: .5s;
  }

  .nav-item {
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(255, 255, 128, 0);
    align-self: center;
    transition: .5s;
    cursor: pointer;
    list-style: none;
    &:active {
    
      color: $color-parsley;
    }

  }

  .no-active-link {
    // color: var(--main-color);
    border-bottom: 3px solid $color-parsley;
    pointer-events: none;
  }


  .section-welcome {
    height: 500px;
    padding-left: 40px;
    // background:  no-repeat url('../../../assets/png/slice.png');
    // background-size: 40%;
    // background-position: right -30px;
}

.title-welcome{
        margin-top: 130px;
    letter-spacing: 3.2px;
    font-size: 48px;
    // margin-top: 130px;
}
.title-left {
  text-align: left;
}

.welcome-contemt{

  margin-top: 20px;
  font-size: 22px;
  letter-spacing: 1.8px;
line-height: 1.5;
  // left: 0;
  text-align: left;
  color: $main-light;
  float: left;
  max-width: 720px;
  font-weight: 600;
}