@import '../../../../../../globalVariables.scss';


.pizza_item {
    border-radius: 15px;
    color: $main-grey;
    background: $main-light;
    width: 303px;
}

.pizza_img {
    cursor: pointer;
    margin: 14px;
    width: 275px;
    height: 275px;
    transition: .5s;
    &:hover{
        scale: 1.02;
       }
}

.pizza_name {
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}
