@import '../../../../../globalVariables.scss';


.question_wrapper {
    color: $main-light;

    .links_wrapper {
        display: flex;
        flex-direction: column;

        .email {
            background: no-repeat url('../../../../../assets/svg/email.svg');
        }

        .contact {
            background: no-repeat url('../../../../../assets/svg/mob.svg');
        }

        .contact,
        .email {
            color: $main-light;
            text-decoration: none;
            margin: 0;
            line-height: 40px;
            padding-left: 35px;
            background-size: 9%;
            background-position: left center;
            cursor: pointer;
            &:hover{
                color:$white;
            }
        }
    }
}