@import '../../../variables.scss';

.question_wrapper {
    color:$main-light;
    .email {
        text-decoration: none;
        margin: 0;
        line-height: 40px;
        padding-left: 35px;
        background: no-repeat url('../../../../../assets/svg/email.svg');
        background-size: 9%;
        background-position: left  center;
    }

    .contact {
        text-decoration: none;
        margin: 0;
        line-height: 40px;
        padding-left: 35px;
        background: no-repeat url('../../../../../assets/svg/mob.svg');
        background-size: 9%;
        background-position: left  center;
    }
}



