@import '../../../variables.scss';

.navigation_list {
    left: 10px;
    margin: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    color: $main-light;
    max-width: 400px;
    gap: 30px;
    justify-content: space-between;

}

.nav_item {
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(255, 255, 128, 0);
    align-self: center;
    transition: .5s;
    list-style: none;
    transition: color .5s;

    &:active {
        color: $color-parsley;
    }

    &:hover {
        color: $white;
    }

}

.no_active_link {
    border-bottom: 3px solid $color-parsley;
    pointer-events: none;
}