@import '../../../../globalVariables.scss';

.button {
    cursor: pointer;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 5px 40px 10px;
    border-radius: 20px;
    text-align: center;
    background-color: $main-light;
    color: $main-grey;
    font-size: 1.6rem;
    font-weight: 700;
    transition: .5s;

    &:hover {
        background-color: $white;
    }
}