@import '../../../../globalVariables.scss';

.section_welcome {
    width: 100%;
    min-height: 650px;
    background: no-repeat url('../../../../assets/png/slice.png');
    background-size: 42%;
    background-position: right -10px top 0px;

    @media (max-width: 1199px) {
        min-height: 450px;
    }

    @media (max-width: 860px) {
        min-height: 350px;
    }

    @media (max-width: 645px) {
        background: none;
        min-height: 250px;
    }

    .title_welcome {
        padding-top: 140px;
        max-width: 800px;
        letter-spacing: 3.5px;
        font-size: 2.7rem;
        margin: 0;

        @media (max-width: 1199px) {
            padding-top: 100px;
            max-width: 600px;
            font-size: 2rem;
            letter-spacing: 2px;
        }

        @media (max-width: 860px) {
            padding-top: 40px;
            max-width: 400px;
            letter-spacing: 1px;
        }

        @media (max-width: 645px) {
            padding-top: 40px;
            max-width: 300px;
            font-size: 1.2rem;
        }

        @media (max-width: 515px) {
            font-size: 1rem;
        }
    }

    .welcome_content {
        margin-top: 50px;
        font-size: 1.3rem;
        letter-spacing: 1.8px;
        line-height: 1.7;
        text-align: left;
        color: $main-light;
        max-width: 650px;
        font-weight: 600;

        @media (max-width: 1199px) {
            font-size: 1rem;
            max-width: 450px;
        }

        @media (max-width: 860px) {
            margin-top: 30px;
            font-size: .8rem;
            max-width: 350px;
        }

        @media (max-width: 645px) {
            margin-top: 30px;
            font-size: .7rem;
            max-width: 270px;
        }

        @media (max-width: 515px) {
            margin-top: 20px;
            min-width: 250px;
        }
    }
}