@import '../../../../../globalVariables.scss';



.item_drink {
    height: 285px;
    padding: 0 auto;
}

.drink_img {
    display: flex;
    justify-items: center;
    margin: 0 auto;
    height: 190px;
    width: 55px;
    cursor: pointer;
    transition: .4s;
    &:hover{
        scale: 1.08;
        transform: rotate(25deg);
    }
}

.btn_add_drink {
    font-weight: 700;
    width: 90px;
    height: 30px;
    border-radius: 12px;
    background: $main-grey;
    color: $main-light;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    transition: .5s;
    &:hover{
     background: $main-light;
     color: $main-grey; 
    }
}

.drink_price {
    color: $main-light;
    text-align: center;
}

