@import '../../../../../globalVariables.scss';

.register_window {
    box-sizing: border-box;
    width: 350px;
    height: auto;
    background-color: $main-dark-color;
    background-image: url('../../../../../assets/png/smoke.png');
    background-size: cover;
    border-radius: 50px;
    border: 3px solid $main-light;
    box-shadow: 0 0 20px $main-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field_wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 35px 10px 35px;
}

.control {
    width: 100%;
    text-align: end;
    margin: 0;
    font-size: .8rem;
    letter-spacing: .7px;
}

.invalide {
    color: $color-red;
}

.valide {
    color: $color-green;
}

.hidden {
    visibility: hidden;
}