@import '../../../../../globalVariables.scss';

.register_window {
    box-sizing: border-box;
    width: 350px;
    height: auto;
    background-color: $main-dark-color;
    background-image: url('../../../../../assets/png/smoke.png');
    background-size: cover;
    border-radius: 50px;
    border: 3px solid $main-light;
    box-shadow: 0 0 20px $main-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field_wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0 10px 0;
    align-items: center;
}

.button {
    cursor: pointer;
    border-radius: none;
    box-sizing: border-box;
    width: 120px;
    height: auto;
    padding: 5px 10px 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 20px;
    text-align: center;
    background-color: $main-light;
    color: $main-grey;
    font-size: 1.4rem;
    font-weight: 700;
    transition: .5s;

    &:hover {
        background-color: $white;
    }
}
.control {
    box-sizing: border-box;
    width: auto;
    min-height: 17px;
    text-align: center;
    padding: 0 15px;
    margin: 0;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .9px;
    color: $color-red;
}

.hidden {
    visibility: hidden;
}