@import '../../../../../../globalVariables.scss';


.pizza_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    padding: 0 25px;
    border-bottom: 1px solid $main-grey; 
}

.span_line{ 
    display: inline-block;
    width: 30px;
}

.span_line,
.span_price,
.span_size {
    height: 30px;
    font-size: 1.2rem;
    color: $main-grey;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.span_price {
    padding-right: 20px;
}

.span_price,
.span_size {
    width: 60px;
}

.price_wrapper {
    height: 30px;
}

.shopping_cart {
    cursor: pointer;
    position: relative;
    top: 4px;
    width: 25px;
    height: 25px;
}